$background-white: #ffffff;
$background-beige: #EAEEEC;
$background-gray: #729687;
$background-black: #47545D;

$text-black: #131E1D;
$text-gray: #A9C1AB;

$accent-green-light: #4AAD37;
$accent-green-middle: #2F9331;
$accent-green-dark: #167234;



